body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
	background: #191970 url("Background.gif") no-repeat fixed center; 
	color: blue;
  	font-family: Goudy Old Style, Perpetua, serif;
}

h2 {
	text-align: center;
	height: 100%;
	margin: 0;
	text-align: left;
	color: #E6E6FA;
  	font-family: Goudy Old Style, Perpetua, serif;	
}

div {
	background-color: #191970;
	border: 5px solid black;
	text-align: center;	
}
