body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
	background: rgb(63, 49, 62) url("Background.gif") no-repeat fixed center; 
	color: blue;
  	font-family: Goudy Old Style, Perpetua, serif;
}

h2 {
	text-align: center;
	height: 100%;
	margin: 0;
	text-align: left;
	color: rgb(63, 49, 62);
  	font-family: Goudy Old Style, Perpetua, serif;	
}

div {
	background-color: rgb(247, 226, 223);
	border: 3px solid black;
	text-align: center;	
}
